.cart-container {
    color: #2A414F;
    /* position: fixed; */
    position: sticky;
    top: 0;

    /* Body 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
    background-color: rgba(255, 153, 0, 0.30);
    padding: 10px;
    /* width: 1440px; */
    /* height: 1024px;  */
}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    border-radius: 4px;
    background: #FF3030;
    border: #FF3030;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg.svg-inline--fa.fa-trash-can.btn {
    font-size: 20px;
    width: 24px;
}